<p class="wallet-title">My portfolio</p>

<div class="filter-box">
  <div>
    <button
      type="button"
      class="btn btn-primary"
      routerLink="fiats"
      routerLinkActive="is-active"
    >
      Fiats
    </button>
    <button
      type="button"
      class="btn btn-primary"
      routerLink="cryptocurrencies"
      routerLinkActive="is-active"
    >
      Cryptocurrencies
    </button>
    <button
      type="button"
      class="btn btn-primary"
      routerLink="metals"
      routerLinkActive="is-active"
    >
      Metals
    </button>
    <button
      type="button"
      class="btn btn-primary"
      routerLink="indices"
      routerLinkActive="is-active"
    >
      Indices
    </button>
  </div>
</div>
<router-outlet></router-outlet>
