@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/themes/bootstrap4-light-blue/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');

html, body {
  font-family: 'Work Sans', sans-serif;
  background-color: #d8eefc;
}

.bp-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 982px;
}

